In [15]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline

filename = "datasets/Bishayee Colony Counts 10.27.97-3.8.01.xlsx"
df = pd.read_excel(filename, index_col = 1, skiprows = [0,1])
df.as_matrix()
df

                ISOTOPE       Date  col1  col2 col3     average
Bate # B0/B00
8405               131I 1997-10-27    78    91   93   87.333333
8405            no DMSO 1997-10-27    90    88   90   89.333333
8405                NaN 1997-10-27    80    66   69   71.666667
8405                NaN 1997-10-27    63    67   71   67.000000
8405                NaN 1997-10-27    44    58   64   55.333333
8405                NaN 1997-10-27    38    53   51   47.333333
8405                NaN 1997-10-27   247   264  258  256.333333
8405                NaN 1997-10-27    46    24   27   32.333333
8405                NaN 1997-10-27    64    63   61   62.666667
8405                NaN 1997-10-27    77    82   98   85.666667
8433               131I 1997-11-24   115    98  109  107.333333
8433                NaN 1997-11-24    87    95   98   93.333333
8433                NaN 1997-11-24    41    31   38   36.666667
8433                NaN 1997-11-24   146   155  178  159.666667
8433                NaN 1997-11-24   112   105  104  107.000000
8433                NaN 1997-11-24   117   143  136  132.000000
8433                NaN 1997-11-24   117   133  114  121.333333
8433                NaN 1997-11-24    38    57   53   49.333333
8433                NaN 1997-11-24   170   171  176  172.333333
8433                NaN 1997-11-24   102   108       105.000000
8445               131I 1997-12-01    74   100   79   84.333333
8445           no match 1997-12-01    85    90   70   81.666667
8445                NaN 1997-12-01    38    32   44   38.000000
8445                NaN 1997-12-01    28    41   26   31.666667
8445                NaN 1997-12-01    28    29   27   28.000000
8445                NaN 1997-12-01   103    91  123  105.666667
8445                NaN 1997-12-01   114   120  103  112.333333
8445                NaN 1997-12-01    26    25   24   25.000000
8445                NaN 1997-12-01   160   162  170  164.000000
8445                NaN 1997-12-01   104   103  100  102.333333
...                 ...        ...   ...   ...  ...         ...
1418                NaN 2000-10-23    10     9    7    8.666667
1418                NaN 2000-10-23     1     1    0    0.666667
1433               125I 2000-10-23   123   152  134  136.333333
1433                NaN 2000-10-23   122   115  129  122.000000
1433                NaN 2000-10-23    28    22   26   25.333333
1433                NaN 2000-10-23    80    77   78   78.333333
1433                NaN 2000-10-23    12    11   11   11.333333
1433                NaN 2000-10-23    10    12   10   10.666667
1433                NaN 2000-10-23     2     1    0    1.000000
1433                NaN 2000-10-23   114   109  128  117.000000
1433                NaN 2000-10-23   107   120  117  114.666667
1433                NaN 2000-10-23    30    36   27   31.000000
1433                NaN 2000-10-23    90    82   88   86.666667
1433                NaN 2000-10-23    16    19   21   18.666667
1433                NaN 2000-10-23     9     8   10    9.000000
1433                NaN 2000-10-23     1     2    3    2.000000
7340             3HdTHD 2001-03-08    93    86  111   96.666667
7340                NaN 2001-03-08   103    82   91   92.000000
7340                NaN 2001-03-08    79    73   68   73.333333
7340                NaN 2001-03-08    51    60   43   51.333333
7340                NaN 2001-03-08    85    90   95   90.000000
7340                NaN 2001-03-08    20    25   30   25.000000
7340                NaN 2001-03-08     6     8   10    8.000000
7340                NaN 2001-03-08   112   109   89  103.333333
7340                NaN 2001-03-08    99    92   81   90.666667
7340                NaN 2001-03-08    92    99   89   93.333333
7340                NaN 2001-03-08    90    85   81   85.333333
7340                NaN 2001-03-08    59    66   78   67.666667
7340                NaN 2001-03-08    44    60   51   51.666667
7340                NaN 2001-03-08    23    40   33   32.000000

[1362 rows x 6 columns]

In [16]:
# deal with the missing value
df = df[df['col3'] != ' ']
# get only the three columns
df_triples = df[['col1', 'col2', 'col3']].apply(pd.to_numeric)

In [45]:
def midratio(r):
    s = sorted(r)
    low = float(s[0])
    mid = float(s[1])
    high = float(s[2])
    
    if (high-low) == 0: 
        mr = 'NA'
    else:
        mr = (mid-low)/(high-low)
    
    return mr

df_midratio = df_triples.apply(midratio, axis = 1)
print df_midratio[:10]

Bate # B0/B00
8405    0.866667
8405           1
8405    0.214286
8405         0.5
8405         0.7
8405    0.866667
8405    0.647059
8405    0.136364
8405    0.666667
8405    0.238095
dtype: object