In [12]:
import pandas as pd
import numpy as np
import matplotlib as plt

filename = "datasets/Bishayee Colony Counts 10.27.97-3.8.01.xlsx"
df = pd.read_excel(filename, index_col = 1, skiprows = 2)
df.as_matrix()
df.head(10)

               ISOTOPE       Date  col1  col2 col3     average
Bate # B0/B00
8405              131I 1997-10-27    78    91   93   87.333333
8405           no DMSO 1997-10-27    90    88   90   89.333333
8405               NaN 1997-10-27    80    66   69   71.666667
8405               NaN 1997-10-27    63    67   71   67.000000
8405               NaN 1997-10-27    44    58   64   55.333333
8405               NaN 1997-10-27    38    53   51   47.333333
8405               NaN 1997-10-27   247   264  258  256.333333
8405               NaN 1997-10-27    46    24   27   32.333333
8405               NaN 1997-10-27    64    63   61   62.666667
8405               NaN 1997-10-27    77    82   98   85.666667

In [20]:
hist = df['col1'].hist(bins=50)
print(hist)

Axes(0.125,0.1;0.775x0.8)

In [37]:
df['diff'] = np.subtract(df['col2'], df['col1'])
df['gap'] = np.subtract(df['col3'], df['col1'])
df['midratio'] = np.divide(df['diff'], df['gap'])

TypeError: unsupported operand type(s) for -: 'unicode' and 'long'

In [31]:
df.head(10)

               ISOTOPE       Date  col1  col2 col3     average  midratio  diff
Bate # B0/B00
8405              131I 1997-10-27    78    91   93   87.333333        13    13
8405           no DMSO 1997-10-27    90    88   90   89.333333        -2    -2
8405               NaN 1997-10-27    80    66   69   71.666667       -14   -14
8405               NaN 1997-10-27    63    67   71   67.000000         4     4
8405               NaN 1997-10-27    44    58   64   55.333333        14    14
8405               NaN 1997-10-27    38    53   51   47.333333        15    15
8405               NaN 1997-10-27   247   264  258  256.333333        17    17
8405               NaN 1997-10-27    46    24   27   32.333333       -22   -22
8405               NaN 1997-10-27    64    63   61   62.666667        -1    -1
8405               NaN 1997-10-27    77    82   98   85.666667         5     5